*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* .header-section .navbar-brand{
    font-size: 30px;
}
.header-section ul .nav-item{
    font-size: 22px;
}
.header-section form{
    font-size: 22px;
} */

.Product-det-section .nav-item a{
    color: rgb(199, 152, 0);
}
.Product-det-section .nav-item a:hover{
    color: rgb(236, 105, 105);
    text-decoration: underline;

}
.card-para{
    border: 2px solid;
    background-color: rgb(252, 84, 84);
    font-size: 20px;
    margin-right: 60px;
    padding: 2px;
}